# .gitignore

# Virtual environment
airflow_env/
venv/

# Airflow logs and DB
airflow
airflow/logs/
airflow/airflow.db
airflow/unittests.cfg
logs/webserver.log

# Jupyter/IPython checkpoints
**/.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Environment file (optional, only if secrets inside)
.env

