# Ignore Airflow local files
airflow/
airflow_env/
logs/
*.db
*.log
*.cfg
wsl.txt

# Ignore Python cache
__pycache__/
*.pyc

# Ignore local env files
.env
.env.*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
.airflow_env/
