# Core Python dependencies
pandas==2.2.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9

# Spark
pyspark==3.5.1

# SQLAlchemy (for PostgreSQL connection from pandas)
SQLAlchemy==2.0.29

# Apache Airflow (core + PostgreSQL backend)
apache-airflow==2.8.1
apache-airflow-providers-postgres==5.10.0
apache-airflow-providers-fab==1.3.3

# Optional, it does improve airflow UI
flask-limiter==3.5.0
connexion[swagger-ui]==2.14.1

# Machine Learning (for the model training notebooks)
scikit-learn==1.4.2
xgboost==2.0.3
joblib==1.4.0

# Visualization and Exploratory Data Analysis (Jupyter)
jupyter==1.0.0
matplotlib==3.8.4
seaborn==0.13.2

# System utility (to support Python subprocess running safely inside Airflow)
psutil==5.9.8
